$color-background: rgb(248, 248, 248);
$color-white: rgb(254, 254, 254);
$color-grey-light: rgb(157, 157, 157);
$color-grey-dark: rgb(98, 98, 98);
$color-dark-turcoise: rgb(117, 163, 163);
$color-light-green: rgb(203, 230, 211);
$color-navy: rgb(47, 48, 150);

