@import '../styles/abstracts/colors';
@import '../styles//abstracts/media-query';
@import '../styles//abstracts/mixins';

body {
    font-family: 'droid sans',Helvetica,Arial,sans-serif;
    font-weight: 400;
    line-height: 1.7;
    color: $color-grey-light;
    background-color: $color-background;
}

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    scroll-behavior: smooth;
}

a {
    text-decoration: none;
}

h3 {
    font-size: 20px;
    text-align: center;
    text-transform: uppercase;
    letter-spacing: 2px;
    line-height: 1.3em;
}

.header {
    height: 100vh;
    position: relative;
    color: $color-grey-dark;
 
    &__nav {
        width: 100%;
        height: 10vh;
        position: relative;
        display: flex;
        z-index: 3;
        background-color: transparent;
    }
}

.hamburger {
    height: 26px;
    width: 32px;
    position: absolute;
    top: 17px;
    left: 20px;
    display: flex;
    flex-direction: column;
    justify-content: space-between;

    &.close {
        z-index: 3;

        @media screen and (min-width: 575px) {
            position: absolute;
            top: 50px;
            left: 5%;
            transform: translate(-50%, -50%);
        }
    }

    &__line {
        height: 4px;
        width: 100%;
        border-radius: 10px;
        background: $color-grey-dark;
    }
}

.line1.close {
    transform-origin: right;
    transform: rotate(-45deg);
}

.line2.close {
    transform: scaleY(0);
}

.line3.close {
    transform-origin: right;
    transform: rotate(45deg);
}

.nav {
   
    display: none;
    &__close {
        height: 70px;
        width: 100%;
        background-color: pink;
        
    @media screen and (min-width: 575px) {
        width: 10%;
        display: flex;
        justify-content: center;
        align-items: center;
    }

    }
    &__menu {
       width: 90%;
        background-color: $color-white;
        position: relative;
        padding: 35px 50px 50px;
        @media screen and (max-width: 575px) {
            width: 100%;
            height: 90vh;
            flex-direction: column;
        }
    }
    &__hamburger {
        width: 10%;
        height: 100vh;
        background-color: $color-light-green;
        @media screen and (max-width: 575px) {
            width: 100%;
            height: 10vh;
            flex-direction: column;
        }
    }
    &.open {
        position: absolute;
        top: 0;
        left: 0;
        z-index: 2;
        display: flex;
        flex-direction: row; 
        background-color: bisque;
        width: 100%;
        min-height: 100vh;
        flex-direction: row;
        @media screen and (max-width: 575px) {
        flex-direction: column;
    }
}
}

.list {
    @media screen and (min-width: 575px) {
        width: 25%;
    }
    &__element{
        text-transform: uppercase;
        letter-spacing: .1em;
        margin-bottom: 10px;
        a {
            padding: 5px;
            font-size: 1.15em;
        }
    }

}

// .nav {
//     height: 10vh;
//     background-color: $color-light-green;
//     @include flexAbsoluteCenter();
//     flex-direction: column;
   
//     &__headline {
//         text-align: center;
//         text-transform: uppercase;
//     }
//     &__underline {
//         width: 40px;
//         border: 2px solid $color-dark-turcoise; 
//     }
// }

.section {
    padding: 2rem;
    margin: 0 auto;
    @include flexAbsoluteCenter();
    max-width: 75rem;
    width: 100%;
    gap: 3rem;
}

.operations {
    display: grid;
    grid-template-columns: 100%;
    grid-gap: 20px;
   
    @include respond(tablet) {
        display: flex;
        justify-content: flex-end;
    }
    &__headline {
        @include flexAbsoluteCenter();
    }
}

.filter {
    width: 70%;
    height: 40px;
    display: flex;
    justify-content: flex-start;
    position: relative;
    padding: 0 50px 0 50px;
    outline: none;
    border: none;
    border-radius: 20px;
    box-shadow: 0 3px 15px $color-dark-turcoise;
    color: $color-grey-dark;

    @include respond(tablet) {
        justify-self: flex-end;
        width: 20%;
    }

    &__input {
        background-color: $color-background;
        width: 100%;
        height: 100%;
        input {
            width: 100%;
            height: 100%;
            background-color: $color-background;
            border: none;
            outline: none;
            @include flexAbsoluteCenter()
        }
    }

    &__submenu {
        position: absolute;
        top: 50px;
        right: 0;
        width: 400px;
        padding: 10px;
        box-shadow: 0px 0px 4px $color-light-green;
        background-color: $color-background;
        display: none;
        &.active {
            display: block;
        }
        .fieldset {
            padding: 10px;
            color: $color-grey-light;
            border: none;
        }
        .legend {
            text-transform: uppercase;
            text-decoration: underline;
        }
        input[type="checkbox" i] {
            opacity: 0;
            position: absolute;
        }
        input[type="checkbox" i] + .label::before {
            content: '';
            display: inline-block;
            width: 16px;
            height: 16px;
            background-color: #fff;
            border: 2px solid $color-dark-turcoise;
            border-radius: 3px;
            margin-right: 8px;
            vertical-align: middle;
            cursor: pointer;
        }
        input[type="checkbox" i]:checked + .label::before {
            background-color: $color-light-green;
        }
    }
        
    &__select {
        position: relative;
        width: 100%;
        height: 40px;
        padding: 0 50px 0 50px;
        outline: none;
        border: none;
        border-radius: 20px;
        box-shadow: 0 3px 15px $color-dark-turcoise;
        color: $color-grey-dark;
        -webkit-appearance: none; 
        -moz-appearance: none; 
        appearance: none;
        
        @include respond(tablet) {
          padding: 0 50px 0 50px;
        }
    }

    &__option {
        display: flex;
        flex-direction: column;
        border: 3px solid pink;
    }

    &__icon {
        position: absolute;
        right: 30px;
        top: 50%;
        transform: translateY(-50%);
        color: $color-dark-turcoise;
    }
}

.posts {
    display: grid;
    grid-template-areas: 
        'headline'
        'operations'
        'elements'
        'pagination';
    grid-template-columns: 100%;

    &__headline {
        grid-area: headline;
        @include flexAbsoluteCenter;
        flex-direction: column;
        text-transform: uppercase;
        .underline {
            width: 50px;
            border: 2px solid $color-dark-turcoise;
            margin-top: 10px;
        }
    }
    &__operations {
        grid-area: operations;
    }
    &__elements {
        grid-area: elements;
        display: grid;
        grid-template-columns: 100%;
        @include respond(tablet) {
        display: grid;
        grid-template-columns: repeat(3, 1fr);
        grid-gap: 20px;
    }
    }
    &__pagination {
        grid-area: pagination;
    }
}


.post {
    height: 700px;

    &__image {
        height: 250px;
        background-size: cover;
        background-repeat: no-repeat;
        background-position: center;
    }

    &__header {
        height: 50px;
        color: $color-grey-dark;
    }

    &__text {
        height: 220px;
        overflow: hidden;
        text-overflow: ellipsis;
        margin-bottom: 20px;
    }

    &__author {
        text-align: end;
        margin-bottom: 10px;
    }

    &__readMore {
        width: 100%;
        height: 60px;
        @include flexAbsoluteCenter;

        &-link {
            width: 250px;
            height: 50%;
            padding: 10px;
            text-align: center;
            color: $color-dark-turcoise;
            border: 3px solid $color-dark-turcoise;
            border-radius: 100px;
        }
    }
}

.pagination {
   
    width: 60%;
    height: 4rem;
    @include flexAbsoluteCenter();
    color: $color-grey-dark;
    list-style: none;

    &-nav {
        width: 100%;
        @include flexAbsoluteCenter();
    }

    &__item {
        height: 2.6rem;
        padding: 10px;
        border-radius: 0.4rem;
        border-color: transparent;
        font-size: 1.4rem;
        @include flexAbsoluteCenter();
        cursor: pointer;
        @include respond(tablet){
            padding: 20px;
        }

        &.active {
            color: $color-white;
            background-color: $color-dark-turcoise;
            font-weight: 600;
            border: 1px solid$color-light-green;
        }
    }
}