@import '../styles/abstracts/colors';
@import '../styles//abstracts/media-query';

body {
    padding: 0;
    background-color: $color-dark-turcoise;
    color: $color-navy;
    max-width: 100%;
    font-size: 16px;
    font-weight: 400;
    line-height: 1.7;
    box-sizing: border-box;
}

#root {
    margin: 0 auto;
    height: 100%;
}

.nav {
    height: 10vh;
    background-color: $color-light-green;
    padding: 0 40px;
}

.posts {
    display: grid;
    grid-template-columns: 80%;
        @include respond(tablet) {
            display: grid;
            grid-template-columns: repeat(3, 1fr);
            grid-template-rows: 1fr;
        }
}