@import '../styles/abstracts/colors';
@import '../styles//abstracts/media-query';
@import '../styles//abstracts/mixins';

body {
    padding: 0;
    color: $color-grey-light;
    max-width: 100%;
    font-size: 16px;
    font-weight: 400;
    line-height: 1.7;
    box-sizing: border-box;
}

#root {
    margin: 0 auto;
    height: 100%;
}

a {
    text-decoration: none;
}

h3 {
    font-size: 20px;
    text-align: center;
    text-transform: uppercase;
    letter-spacing: 2px;
    line-height: 1.3em;
}

.nav {
    height: 10vh;
    background-color: $color-light-green;
    @include flexAbsoluteCenter();
    flex-direction: column;
    margin-left: 20px;
    margin-right: 20px;
    &__headline {
        text-align: center;
        text-transform: uppercase;
    }
    &__underline {
        width: 40px;
        border: 2px solid $color-dark-turcoise; 
    }
}

.section {
    padding: 20px;
}

.operations {
    display: grid;
    grid-template-columns: 100%;
    grid-gap: 20px;
    padding-top: 50px;
    padding-bottom: 50px;

    @include respond(tablet) {
        display: grid;
        grid-template-columns: 50% 50%;
        grid-gap: 0px;
    }
}

.search {
    position: relative;

    &__input {
        width: calc(100% - 60px);
        height: 50px;
        padding: 0 10px 0 50px;
        color: $color-grey-dark;
        border: none;
        box-shadow: 0 3px 15px $color-dark-turcoise;
        border-radius: 5px;
        outline: none;

        @include respond(tablet) {
            width: 100%;
        }
    }

    &__icon {
        position: absolute;
        top: 25px;
        left: 2%;
        transform: translateY(-50%);
        color: $color-grey-dark;
    }
}

.filter {
    width: 100%;
    display: flex;
    justify-content: flex-start;

    @include respond(tablet) {
        justify-content: flex-end;
    }

    &__select {
        position: relative;
        width: 100%;
        height: 50px;
        padding: 0 10px 0 20px;
        outline: none;
        border: none;
        border-radius: 5px;
        box-shadow: 0 3px 15px $color-dark-turcoise;
        color: $color-grey-dark;

        @include respond(tablet) {
            width: 50%;
            padding: 0 10px 0 50px;
        }
    }
}

.posts {
    display: grid;
    grid-template-columns: 100%;

    @include respond(tablet) {
        display: grid;
        grid-template-columns: repeat(3, 1fr);
        grid-gap: 20px;
    }
}


.post {
    height: 700px;

    &__image {
        height: 250px;
        background-size: cover;
        background-repeat: no-repeat;
        background-position: center;
    }

    &__header {
        height: 50px;
        color: $color-grey-dark;
    }

    &__text {
        height: 220px;
        overflow: hidden;
        text-overflow: ellipsis;
        margin-bottom: 20px;
    }

    &__author {
        text-align: end;
        margin-bottom: 10px;
    }

    &__readMore {
        width: 100%;
        height: 60px;
        @include flexAbsoluteCenter;

        &-link {
            width: 250px;
            height: 50%;
            padding: 10px;
            text-align: center;
            color: $color-dark-turcoise;
            border: 3px solid $color-dark-turcoise;
            border-radius: 100px;
        }
    }
}

.pagination {
    height: 60px;
    @include flexAbsoluteCenter();
    color: $color-grey-dark;

    &__container {
        width: 60%;
        height: 4rem;
        margin: 3rem;
        display: flex;
        justify-content: center;
        align-items: center;
        border-radius: 0.6rem;
        background-color: $color-light-green;

        @include respond(tablet) {
            width: 40%;
        }
    }

    &__button {
        width: 2.6rem;
        height: 2.6rem;
        border-radius: 0.4rem;
        border-color: transparent;
        margin: 0.8rem;
        font-size: 1.4rem;
        cursor: pointer;

        &.active {
            color: $color-white;
            background-color: $color-dark-turcoise;
            font-weight: 600;
            border: 1px solid$color-light-green;
        }
    }
}